<h1>Sign Up Form</h1>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="password" placeholder="Password" required>
  <button type="submit">Submit</button>
</form>
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Log out</a></li>
